@border: 1px solid red;
@bordercolor: #ebebeb;
@bordercolorgray: #dadada;
@bckgcolor: #f8f8f8;
@colordarkgray: #787878;
@colorline: #cccccc;
@colorlightblue: #8bade4;
@colorgraytext: #777777;
@colorbluetext: #3388a8;
@colorgreen: #33a845;

@transition: ease-in-out 0.5s;

